{% extends "layout.html" %}
{% block content %}
    <div class="about-section">
        <h1>About Us</h1>
        <p>Welcome to SSS (Study, Swap, Shop), An E-Commerce platform exclusively handmade for RVCE students! At SSS, we bring together a vibrant community of learners across the campus, providing a unique marketplace for old students and peers. Here we allow Ex-RVCEians and current students to Buy/Sell/Borrow various Experiential Learning Materials, Textbooks and Miscellaneous resources aimed for productive usage of resources. Elevate your learning experience here at SSS, where academic success and profit is just a click away...</p>
      </div>
      <br><br>
      <h2 style="text-align:center">Our Services</h2>
      <br>
      <div class="row">
        <div class="column">
          <div class="card">
            <div class="container">
                <h3 style="text-align:center">Sell</h3>
                <p style="text-align:center">Users can sell various products by posting with image and attaching a resonable cost to it.</p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <div class="container">
                <h3 style="text-align:center">Buy</h3>
                <p style="text-align:center">Users can buy various products by clicking on the relevant posts and viewing its details. For any product related queries one can contact owner directly through mail.</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="container">
              <h3 style="text-align:center">Borrow</h3>
              <p style="text-align:center">Users can borrow various products for certain amount of time either by renting or freely depending upon the seller.</p>
            </div>
          </div>
        </div>
      </div>
{% endblock content %}
