{% extends "layout.html" %}
{% block content %}
<div class="contact-section"></div>
    <h1>Contact Us</h1>

    <p>If you have any questions or concerns, feel free to reach out to us:</p>

    <!-- Replace 'your.email@example.com' with your actual email address -->
    <p>Email: <a href="mailto:studyswapshop@gmail.com">studyswapshop@gmail.com</a></p>

    <!-- Other contact information or form can be added here -->

    <!-- Your footer, scripts, or additional content here -->

{% endblock content %}